<div *ngFor="let curso of cursos" class="card-curso" id="{{ curso.id }}">
  <div>
    <span class="titulo">ID do curso:</span> {{ curso.id}}
  </div>
  <div>
    <span class="titulo">Nome do curso:</span> {{ curso.nome}}
  </div>
  <div>
    <span class="titulo">Descrição do curso:</span> {{ curso.descricao}}
  </div>
  <div class="card-curso__acoes">
    <a class="editar" routerLink="/editar-curso/{{ curso.id }}">Editar curso</a>
    <button (click)="modal.mostrarModal()" (click)="pegarId(curso.id, curso)" class="botao deletar">Deletar curso</button>
    
  </div>
</div>
<!-- <app-modal [modulos]='cursos' [modulo]='curso' [idDeleta]='idDeleta' [rotaFront]='rotafront' [rota]='rota' [textoCorpo]='textoCorpo' [titulo]='titulo'></app-modal> -->
<app-modal (deletar)="deletaCurso(idDeleta)" [idDeleta]='idDeleta' [textoCorpo]='textoCorpo' [titulo]='titulo'></app-modal>