<div class="registro-aluno">
  <h1>Cadastro de aluno</h1>
  <div class="registro-aluno__form">
    <form (ngSubmit)="submeter(aluno)">
      <input disabled *ngIf="aluno.id" type="number" name="id" [(ngModel)]="aluno.id" value="{{ aluno.id }}">
      <input type="text" name="nome" #nome="ngModel" [(ngModel)]="aluno.nome" placeholder="Nome">
      <input type="text" name="sobrenome" #sobrenome="ngModel" [(ngModel)]="aluno.sobrenome" placeholder="Sobrenome">
      <input type="email" name="email" #email="ngModel" [(ngModel)]="aluno.email" placeholder="Email">
      <h3>Data de Nascimento</h3>
      <div class="registro-aluno__form__data-nascimento">
        <select name="dataDia" #dataDia="ngModel" [(ngModel)]="dataNascimento.dataDia" required>
          <option value="">Dia</option>
          <option  *ngFor="let dia of dias" value="{{ dia }}">{{ dia }}</option>
        </select>
        <select name="dataMes" #dataMes="ngModel" [(ngModel)]="dataNascimento.dataMes" required>
          <option value="">Mês</option>
          <option *ngFor="let mes of meses" value="{{ mes }}">{{ mes }}</option>
        </select>
        <select name="dataAno" #dataAno="ngModel"[(ngModel)]="dataNascimento.dataAno" required>
          <option value="">Ano</option>
          <option *ngFor="let ano of anos" value="{{ ano }}">{{ ano }}</option>
        </select>
      </div>
      <div class="registro-aluno__form__sexo">
          <label class="radio">
              <input value="1" type="radio" name="sexo" #sexo="ngModel" [(ngModel)]="aluno.sexo">
              <span class="radio-selecionado"></span>
              Masculino
          </label>
          <label class="radio">
              <input value="2" type="radio" name="sexo" #sexo="ngModel" [(ngModel)]="aluno.sexo">
              <span class="radio-selecionado"></span>
              Feminino
          </label>
      </div>
      <div class="registro-aluno__form__button">
          <button class="botao" >{{ tituloBotao }}</button>
        </div>
    </form>
  </div>
  <div *ngIf="sucesso" class="sucesso">
    O aluno <span class="sucesso__destaque">{{ aluno.nome }}</span> foi cadastrado com sucesso!
  </div>
  <div *ngIf="erro" class="erro">
    O aluno <span class="erro__destaque">{{ aluno.nome }}</span> não foi cadastrado com sucesso!
  </div>
</div>
