.tudo {
    max-width: 1366px;
    margin: auto;
    display: grid;
    justify-content: space-around;
    // grid-column-gap: 15px;
    @media screen and (max-width: 767px) {
        grid-template-columns: 0 100% 0%;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: 40% 60%;
    }
    @media screen and (min-width: 1024px) {
        grid-template-columns: 30% 40% 30%;   
    }
    .esquerda {
        @media screen and (max-width: 767px) {
            visibility: hidden;
        }
        margin-top: 15px;
    }
    .centro {
        margin-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .direita {
        display: block;
    }
}

body, html, h1, h2, h3, h4, h5, h6, p, span, ul, li, textarea, div {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #8D6E63;
}

.sucesso {
    // display: none;
    margin-top: 15px;
    background-color: #E8F5E9;
    border: 1px solid #4CAF50;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

.erro {
    // display: none;
    margin-top: 15px;
    background-color: #FFEBEE;
    border: 1px solid #F44336;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

.sucesso, .erro {
    &__destaque {
        text-transform: uppercase;
        font-weight: bold;
    }
}


.botao {
    cursor: pointer;
    text-transform: uppercase;
    padding: 0px 16px;
    border: none;
    background-color: #4E342E;
    color: white;
    border-radius: 2px;
    height: 36px;
    font-size: 14px;
}

a.botao {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    padding: 10px 16px;
}

a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #8D6E63;
    border-radius: 2px;
    padding: 10px 16px;
}

.deletar {
    color: #F44336;
    border: 1px solid #F44336;
    background-color: transparent;
    
}

.editar {
    color: #4CAF50;
    border: 1px solid #4CAF50;
    background-color: transparent;
}

.invisible {
    background-color: transparent;
    color: black;
}

.escondido {
    display: none;
}

input {
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #DEDEDE;
    &:active {
        border: 1px solid black;
    }
}
textarea {
    @extend input;
    resize: none;
}

select {
    @extend input;
}

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
label.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .radio-selecionado {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #D7CCC8;
        border-radius: 100%;
        &::after {
            top: 8px;
            left: 8.4px;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: white;
        }
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .radio-selecionado {
            background-color: #BCAAA4;
            &.radio-selecionado::after {
                display: block;
            }
        }
    }
}
.radio-selecionado::after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
}